<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={{url_for('static', filename='style.css') }}>
    <title>Validate Password for {{userid}}</title>
</head>
<body>
    <h1>Validate Password for {{userid}}</h1>
<form action="" method="post">
  <br><br>
  Password Validation Token: <input type="text" id="validationtoken"     name="validationtoken" value={{request.form.validationtoken }}> <br><br>
  New Password:              <input type="password" id="newpassword"     name="newpassword"     value={{request.form.newpassword }}>     <br><br>
  ReEnter Password:          <input type="password" id="reenterpassword" name="reenterpassword" value={{request.form.reenterpassword }}> <br><br>
  <br><br><br>
  <input type="submit" name="BackToLoginScreen" value="Back To Login Screen">
  <input type="submit" name="updatepassword" value="Update Password">
</form> 

{% if error %}
        <br><br>
        <strong>Error:</strong> {{ error }}
{% endif %}

</body>
</html>

